.details-box {
    padding-left: 10%;
    padding-right: 10%;

    padding-top: 5%;
    padding-bottom: 5%;

    box-sizing: border-box;

    height: 500px;
    width: 100%;

    text-align: center;
}

.details-box.projects {
    background-color: #A8D8EA;
}

.details-box.experience {
    background-color: #AA96DA;
}

.details-box.studies {
    background-color: #FCBAD3;
}

.details-box.photo {
    background-color: #FFFFD2;
}

.box-item-wrapper {
    display: block;
}

.box-item-wrapper.title {
    text-align: left;
}

.box-title {
    display: inline-block;
    margin-left: 10px;

    vertical-align: middle;
    font-size: 18px;
}

.box-image {
    max-height: 300px;
    display: block;
}